.navbar {
	margin-bottom: 0px;
	border-radius: 0px;
}

.center {
	text-align:center;
}

@media(max-width: @screen-xs-max){}
@media(min-width: @screen-tablet){}     /* or @screen-sm */
@media(min-width: @screen-desktop){}    /* or @screen-md */
@media(min-width: @screen-lg-desktop){} /* or @screen-lg */


p,h1,h2,h3,h4,h5,h6 {
	font-family: 'Open Sans';
}

.jumbotron h1 {
	font-weight: 800;
	color: white;
}

.jumbotron h3, .jumbotron p {
	font-weight: 400;
	color: #eee;
}

.jumbotron {
	background: url('/img/background.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	height: 100%;
}

body, html {
	height: 100%;
} 