.navbar {
	margin-bottom: 0px;
	border-radius: 0px;
}

.center {
	text-align:center;
}


/*test stuff*/
.block1 {
	/*background-image:url('http://upload.wikimedia.org/wikipedia/commons/9/90/Sunset_Marina.JPG');*/
}
.block2 {
	/*background-image:url('http://www.arizona-leisure.com/gfx/gallery/sunsets/sedona-sunset.jpg')*/
}

.vertCenter {
	display: inline-block;
	vertical-align: middle;
}

.jumbotron {
	background-image:url('/img/background.jpg');
	background-size: cover;
	/*height: 95%;*/
}

@media(max-width: @screen-xs-max){}
@media(min-width: @screen-tablet){}     /* or @screen-sm */
@media(min-width: @screen-desktop){}    /* or @screen-md */
@media(min-width: @screen-lg-desktop){} /* or @screen-lg */


p,h1,h2,h3,h4,h5,h6 {
	font-family: 'Open Sans';
}

.jumbotron h1 {
	font-weight: 800;
	color: white;
}

.jumbotron h3, .jumbotron p {
	font-weight: 400;
	color: #eee;
}




/*vertical center the landing page welcome message*/
body, html {
	height: 100%;
}
#parent {height: 100%;}

#floater {
    float: left;
    height: 40%;
    width: 100%;
    margin-bottom: -100px;
}

#child {
    clear: both;
    height: 200px;
}

