.navbar {
	margin-bottom: 0px;
	border-radius: 0px;
}

.center {
	text-align:center;
}

@media(max-width: @screen-xs-max){}
@media(min-width: @screen-tablet){}     /* or @screen-sm */
@media(min-width: @screen-desktop){}    /* or @screen-md */
@media(min-width: @screen-lg-desktop){} /* or @screen-lg */


h1,h2,h3,h4,h5,h6, .navbar a {
	font-family: 'Exo';
}

p {
	font-family: 'Open Sans';
}

.jumbotron h1 {
	font-weight: 500;
	color: black;
}

.jumbotron h3, .jumbotron p {
	font-weight: 300;
	color: #4d4d4d;
}

.jumbotron h1, .jumbotron h3, .jumbotron p {
	max-width:50%;
}

.jumbotron {
	background: url('/img/homepage.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	height: 100%;
}

body, html {
	height: 100%;
} 