<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<!--
Messing around with autohiding the navbar
<script src="/js/jquery.bootstrap-autohidingnavbar.js"></script>
<script>
	$('.navbar-fixed').autoHidingNavbar('setDisableAutohide', true);
	$('.navbar-fixed').autoHidingNavbar('hide');
	$('.navbar-fixed').autoHidingNavbar('setShowOnBottom', true);
</script>
-->

</body>
</html>