
<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
	<h3>Hello. You there! My name is</h3>
	<h1>Tyler Greene</h1>
	<h3>Although my website is plain, my attitude is colorful. If you stick around, you'll get a good sense of what I'm all about.</h3>
</div>

<!-- <div class="jumbotron" id="parent">
	<div id="floater"></div>
	<div class="container" id="child">
		<h3>Hello. You there! My name is</h3>
		<h1>Tyler Greene</h1>
		<h3>Although my website is plain, my attitude is colorful. If you stick around, you'll get a good sense of what I'm all about.</h3>
	</div>
</div>  -->

<div class="container">
	<h2>Here are some things I've written which I've deemed worthy to be on this home page. One might say this is the "popular" stuff.</h2>
</div>



