
<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container">
		<h1>My name is Tyler Greene</h1>
		<p>My website is plain, but my attitude is colorful. If you stick around, you'll get a good sense of what I'm all about.</p>
		
		<!-- <div class="container">
			<div class="row">
				<div class="col-md-4">
					<p>If we are friends, then maybe you want to read some of the stuff I write.</p>
				</div>
				<div class="col-md-4">
					<p>If we aren't yet friends, then send me an email!</p>
				</div>
				<div class="col-md-4">
					<p>If you are a recruiter, feel free to check out my resume.</p>
				</div>
			</div>
		</div> -->
	</div> <!-- /container -->
</div> 