
<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h3>Hello. My name is</h3>
				<h1>Tyler Greene</h1>
				<h3>Although my website is plain, my attitude is colorful. If you stick around, you'll get a good sense of what I'm all about.</h3>
			</div>
			<div class="col-md-6">
				<img src="/img/avatar.png" alt="avatar of my face in front of the golden gate bridge">
			</div>
		</div>
	</div>
</div>

<div class="container">
	<h3>Here are some things I've written which I've deemed worthy to be on this home page. One might say this is the "popular" stuff.</h3>
</div>