<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@ColorfullyTyler">
<meta name="twitter:creator" content="@ColorfullyTyler">


{% if page.title %}
  <meta name="twitter:title" content="{{ page.title }}">
{% else %}
  <meta name="twitter:title" content="{{ site.name }}">
{% endif %}


{% if page.url %}
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
{% endif %}


{% if page.excerpt %}
  <meta name="twitter:description" content="{{ page.excerpt | strip_html | xml_escape | truncate: 200 }}">
{% else %}
  <meta name="twitter:description" content="{{ site.description }}">
{% endif %}


{% if page.image %}
  <meta name="twitter:image:src" content="{{ site.url }}/img/{{ page.image }}">
{% else %}
  <meta name="twitter:image:src" content="{{ site.url }}/img/homepage.png">
{% endif %}